@use "Variables" as *;

.input__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  .input__wrapper {
    position: relative;
    display: flex;
    height: $BtnHeight;
    width: 240px;
    .input__fund__amount {
      font-family: $font;
      font-weight: $SemiBold;
      color: #fff;
      border: $BlockBorder;
      border-radius: $RoundBlock;
      width: 100%;
      padding: 0 60px 0 10px;
    }
    .input__currency {
      position: absolute;
      user-select: none;
      right: 10px;
      font-family: $font;
      font-weight: $SemiBold;
      color: #fff;
      top: 50%;
      transform: translateY(-50%);
      line-height: 1;
    }
  }

  .currency__wrapper {
    position: relative;
    gap: 10px;
    .currency {
      width: $BtnHeight;
      height: $BtnHeight;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $BtnColor;
      border-radius: $RoundBlock;
      cursor: pointer;
      span {
        color: #fff;
      }
    }
    .currency__modal {
      top: 43px;
      position: absolute;
      width: 75px;
      border: $BlockBorder;
      border-radius: $RoundBlock;
      display: flex;
      gap: 10px;
      background-color: #000;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      button {
        width: 100%;
        height: 36px;
        cursor: pointer;
        span {
          color: #fff;
          font-family: $font;
          font-weight: $SemiBold;
        }
      }
      hr {
        width: 80%;
        border-color: #a9a9a9;
        margin: -10px 0;
      }
    }
  }
}
