$font: "Montserrat", sans-serif;
$SemiBold: 600;

$BtnColor: #5ac8fb;
$BtnHeight: 38px;
$BtnWidth: 140px;

$BlockWidth: 350px;
$RoundBlock: 8px;
$BlockPadding: 10px;
$BlockBorder: 1px solid #a9a9a9;

$FooterHeight: 90px;
