@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.vpn__info {
  width: 350px;
  padding: 10px;
  background-image: url("../assets/logo.png");
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: 180px center;
  border: 1px solid #a9a9a9;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.vpn__info .no__sub {
  width: 100%;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
.vpn__info .no__sub img {
  width: 60px;
}
.vpn__info .no__sub .no__sub__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  height: -moz-fit-content;
  height: fit-content;
}
.vpn__info .vpn__info__text, .vpn__info .bottom__wrapper .vpn__btn__text, .vpn__info .center__wrapper .vpn__expire__date, .vpn__info .center__wrapper .vpn__expire, .vpn__info .top__wrapper .vpn__status .status, .vpn__info .no__sub button {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}
.vpn__info .top__wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.vpn__info .top__wrapper .vpn__info__heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  height: -moz-fit-content;
  height: fit-content;
}
.vpn__info .top__wrapper .vpn__status {
  display: flex;
  gap: 5px;
  flex-direction: row;
  align-items: center;
}
.vpn__info .top__wrapper .vpn__status .indicate__status {
  height: 7px;
  width: 7px;
  border-radius: 100%;
}
.vpn__info .center__wrapper {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}
.vpn__info .vpn__button, .vpn__info .vpn__large__button, .vpn__info .no__sub button {
  width: 140px;
  height: 38px;
  background: #5ac8fb;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.vpn__info .bottom__wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.vpn__info .bottom__wrapper .two__btns {
  display: flex;
  gap: 10px;
  width: -moz-fit-content;
  width: fit-content;
}
.vpn__info .vpn__large__button {
  width: 290px;
}

.user__info {
  padding: 10px 10px 0 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.user__info .info__user__pfp {
  width: 100px;
  height: 100px;
  background: #5ac8fb;
  border-radius: 100%;
}
.user__info .info__heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.user__info .info__user__id {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.user__info .info__user__id .user__id {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  height: -moz-fit-content;
  height: fit-content;
}
.user__info .info__user__id .user__show__id {
  width: 21px;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
}
.user__info .info__balance__btn {
  background: #5ac8fb;
  width: 140px;
  height: 38px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.user__info .info__balance__btn .info__balance {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  width: 70%;
}
.user__info .info__balance__btn .info__add__balance {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 0px 8px 8px 0px;
  box-shadow: 2px 0px 0px 0px #fff inset;
}
.user__info .info__balance__btn .info__add__balance img {
  width: 22px;
  height: 22px;
}

.traffic__info {
  width: 350px;
  border: 1px solid #a9a9a9;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.traffic__info .traffic__info_no_sub {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.traffic__info .top__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.traffic__info .top__wrapper .traffic__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 16px;
}
.traffic__info .top__wrapper .left__wrapper {
  width: 150px;
  display: flex;
  gap: 2px;
}
.traffic__info .top__wrapper .left__wrapper img {
  width: 24px;
  height: 24px;
  transform: rotate(-90deg);
}
.traffic__info .top__wrapper .right__wrapper {
  width: 150px;
  display: flex;
  gap: 2px;
}
.traffic__info .top__wrapper .right__wrapper img {
  width: 24px;
  height: 24px;
  transform: rotate(90deg);
}
.traffic__info .bottom__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.traffic__info .bottom__wrapper .traffic__block, .traffic__info .bottom__wrapper .upload, .traffic__info .bottom__wrapper .download {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
}
.traffic__info .bottom__wrapper .traffic__block p, .traffic__info .bottom__wrapper .upload p, .traffic__info .bottom__wrapper .download p {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}
.traffic__info .bottom__wrapper .download {
  background-color: #10351d;
  border-color: #50c878;
  width: 150px;
  height: 44px;
}
.traffic__info .bottom__wrapper .upload {
  background-color: #47181a;
  border-color: #ce2029;
  width: 150px;
  height: 44px;
}

footer {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #3f3f3f;
  background-color: #0b0c0e;
}
footer .footer__nav {
  display: flex;
  gap: 50px;
}
footer .footer__nav .footer__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .footer__nav .footer__buttons img {
  width: 28px;
  height: 28px;
}
footer .footer__nav .footer__buttons .nav__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #acacac;
}

@media (max-height: 500px) {
  footer {
    display: none;
  }
}
.modal {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.3215686275);
  display: flex;
  justify-content: center;
  padding: 10px;
  position: absolute;
  z-index: 50;
}
.modal .modal__window {
  position: relative;
  width: 330px;
  top: 50px;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #0b0c0e;
  border: 1px solid #a9a9a9;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  z-index: 1000;
}
.modal .modal__window .close__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.modal .modal__window .close__btn span {
  display: flex;
  flex-direction: row-reverse;
}
.modal .modal__window .close__btn span img {
  width: 28px;
  height: 28px;
  transform: rotate(-45deg);
}
.modal .modal__window .modal__heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 22px;
}
.modal .modal__window .modal__content {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 16px;
  width: 100%;
  overflow-wrap: break-word;
  border: 1px solid #a9a9a9;
  padding: 10px;
  border-radius: 8px;
}
.modal .modal__window .modal__bottom__btns {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.modal .modal__window .modal__btn {
  padding: 5px;
  height: 38px;
  background: #5ac8fb;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.modal .modal__window .modal__btn span {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.content {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #fff;
}

.modal__sub__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.modal__sub__content button {
  background-color: #5ac8fb;
}
.modal__sub__content .modal__sub__btns {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.modal__sub__content .modal__sub__btns .sub__days {
  width: 100px;
  height: 28px;
  border: 1px solid #a9a9a9;
  border-radius: calc(infinity * 1px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__sub__content .modal__sub__btns .sub__days .days {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 0px;
}
.modal__sub__content .modal__sub__btns .control__days {
  width: 28px;
  height: 28px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.modal__sub__content .modal__sub__btns .control__days span {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  text-align: center;
  line-height: 0px;
}
.modal__sub__content .submit__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 140px;
  border-radius: calc(infinity * 1px);
  cursor: pointer;
}
.modal__sub__content .submit__btn span {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 0px;
}

.modal__buy__btns {
  width: 100%;
  gap: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4);
}
.modal__buy__btns .modal__btn__btn {
  padding: 10px;
  height: 76px;
  border: #5ac8fb 2px solid;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.modal__buy__btns .modal__btn__btn span {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: #fff;
}

.no__funds {
  position: fixed;
  top: 5px;
  width: 90%;
  height: 50px;
  background-color: rgba(193, 6, 6, 0.6705882353);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  border: 1px solid #a9a9a9;
  border-radius: 8px;
}
.no__funds span {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #fff;
}

.input__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.input__container .input__wrapper {
  position: relative;
  display: flex;
  height: 38px;
  width: 240px;
}
.input__container .input__wrapper .input__fund__amount {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #fff;
  border: 1px solid #a9a9a9;
  border-radius: 8px;
  width: 100%;
  padding: 0 60px 0 10px;
}
.input__container .input__wrapper .input__currency {
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  right: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
  line-height: 1;
}
.input__container .currency__wrapper {
  position: relative;
  gap: 10px;
}
.input__container .currency__wrapper .currency {
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5ac8fb;
  border-radius: 8px;
  cursor: pointer;
}
.input__container .currency__wrapper .currency span {
  color: #fff;
}
.input__container .currency__wrapper .currency__modal {
  top: 43px;
  position: absolute;
  width: 50px;
  border: 1px solid #a9a9a9;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input__container .currency__wrapper .currency__modal button {
  width: 100%;
  height: 26px;
  cursor: pointer;
}
.input__container .currency__wrapper .currency__modal button span {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.input__container .currency__wrapper .currency__modal hr {
  width: 80%;
  border-color: #a9a9a9;
  margin: -10px 0;
}

.main__info::-webkit-scrollbar {
  display: none;
}

.main__info {
  padding-bottom: 100px;
}/*# sourceMappingURL=App.css.map */